html{
    min-height: 100%;
    min-width: 100%;

}
body{
    background: rgb(29,170,130);
    background: linear-gradient(90deg, rgba(29,170,130,1) 23%, rgba(17,255,244,1) 90%);
    height: 100%;
    background-repeat: no-repeat;
    margin: 0;    
}
.hidden{
    display: none;
}
.card-container{
    padding-top: 15%;
    text-align: center;
}
.card{
    margin: auto;
}
.card-link{
    text-decoration: none;
    font-family: 'Space Mono', monospace;
    font-size: 1.75rem;
}
.card-text{
    font-family: 'Space Mono', monospace;
    font-size: 1.2rem;
}
.socialMediaLinks{
    list-style: none;
    padding: 0;
    margin: 0 auto;
}
.footer{
    text-align: center;
    padding-top: 10%;
    font-size: 3rem;
}
ul li{
    display: inline;
}
a{
    color: rgb(10, 133, 155);
}
